<!DOCTYPE html>
<html>
  <head>
    <title>"Timetrip to Big Bang and Back" loading...</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://unpkg.com/es-module-shims@1.5.17/dist/es-module-shims.js"></script>
    <!-- <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script> -->
    <script src="https://unpkg.com/aframe@1.0.4/dist/aframe-v1.0.4.min.js"></script>
    <!-- <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script> -->
    <script src="https://unpkg.com/ar.js@2.2.2/aframe/build/aframe-ar.min.js"></script>
    <script src="https://unpkg.com/aframe-extras@6.1.1/dist/aframe-extras.min.js"></script>
    <script src="https://unpkg.com/aframe-lines@1.1.0/lines.js"></script>
    <script src="https://unpkg.com/aframe-sprite-particles-component@^0.5.4/aframe-sprite-particles-component.js"></script>
    <script src="https://unpkg.com/reconnecting-websocket@4.4.0/dist/reconnecting-websocket-iife.min.js"></script>

    <script src="./lib/components.js"></script>
    <script src="./lib/planets.js"></script>
    <script src="./lib/orbits.js"></script>
    <script src="./lib/utils.js"></script>
    <script src="./lib/websocket.js"></script>



    <script type="module">
      import { createApp, reactive } from "https://unpkg.com/petite-vue?module";

      const hash = new URL(document.URL).hash;
      const isDev = hash === "#dev";
      const overlays = document.querySelectorAll(".dev-overlay");
      overlays.forEach((overlay) => {
        if (!isDev) {
          overlay.style.opacity = 0;
        }
      });

      const particles = {
        //        color: "#00f..#fff,#fff,#fff",
        color: "#00f..#fff,#fff,#fff",
        radialType: "circle",
        lifeTime: 10000,
        spawnRate: 100,
        radialPosition: { a: 0, b: 0 },
        radialVelocity: { a: 0, b: 0 },
        angularVelocity: { a: 0, b: 0, c: 10 },
        scale: 2,
        texture: "#blob",
      };

      const animation = AFRAME.ANIME;

      function getDuration(timestring) {
        return sec(timestring) * this.globalFrequency;
      }

      function getPlaybackRate() {
        return 1000 / this.globalFrequency;
      }

      const planets = generatePlanets();

      const defaultModelScale = 0.0045;

      // Cometonics

      const cometonics = { visible: false, opacity: 0 };
      const come = {
        visible: true,
        scale: {
          x: defaultModelScale, // *0.5
          y: defaultModelScale,
          z: defaultModelScale,
        },
        opacity: 0,
        position: { x: 0, y: 0, z: 0 },
        rotation: { x: 0, y: 0, z: 0 },
        outerPosition: { x: 0, y: 0, z: 0 },
        outerRotation: { x: 0, y: 0, z: 0 },
      };

      const messier = {
        clusters: { visible: false, scale: defaultModelScale * 2, opacity: 0 }, // scale was 0.7
        // clusters2: { visible: false, scale: defaultModelScale * 100, opacity: 0 },
        nebulas: { visible: false, scale: defaultModelScale, opacity: 0 },
        //galaxies: { visible: false, scale: defaultModelScale, opacity: 0 },
        superclusters: { visible: false, scale: defaultModelScale * 0.8, opacity: 0 },
      };

      const galactic = {
        radiogalaxies: { visible: false, scale: defaultModelScale, opacity: 0 },
        quasars: { visible: false, scale: defaultModelScale, opacity: 0 },
      };

      const bigbang = {
        visible: false,
      };

      const sky = document.querySelector("#sky");

      function setSky(asset) { // NB# assetName must be given with #
        if (!sky) return console.warn('Sky element not found.');

        const assetEl = document.querySelector(asset);
        if (!assetEl) return console.warn(`Asset ${asset} not found.`);

        sky.setAttribute('src', asset);
      }

      function showSky(fadeTime = 5000) { // in milliseconds
        if (!sky) return;

        // Ensure initial opacity is 0 and visible
        sky.setAttribute('opacity', "0");
        sky.setAttribute('visible', "true");

        sky.setAttribute('animation', {
          property: 'opacity',
          to: 0.8,
          dur: fadeTime,
          easing: 'easeInOutQuad',
          loop: false
        });
      }

      function hideSky(fadeTime = 5000) { // time in ms
        if (!sky) return;

        sky.setAttribute('animation', {
          property: 'opacity',
          to: 0,
          dur: fadeTime,
          easing: 'easeInOutQuad',
          loop: false
        });

        setTimeout(() => {
          sky.setAttribute('visible', false);
        }, fadeTime);
      }

      const r = reactive({
        time: 0,
        eventCounter: 0, // 46 // NB! FOR TESTING ONLY change to something else than 0
        globalFrequency: 1000,
        getDuration,
        getPlaybackRate,

        planets,
        cometonics,
        messier,
        galactic,
        bigbang,

        sky,

        globalRotation: 0, // was 90
        globalScale: 4,
        userZMultipler: 0,

        particles,

        come,

        distanceMessage: "",
      });


      // tryout for setting eventCounter by time
      // necessary when reloading the page. Does not solve problem, which elements
      // should be visible at the moment, but this is a compromize
      // at the moment this is very messy and error prone....
      const eventTimeline = [
        // event counter must be one less than at the moment
        { time: 0, event: 1 }, // plantes
        { time: sec("11:00"), event: 15 }, // cometonics
        { time: sec("12:30"), event: 22 }, // planets off
        { time: sec("15:20"), event: 40 }, // cometonics fadeout
        { time: sec("15:30"), event: 41 }, // "We are now one lightyear away from Earth"
        { time: sec("15:40"), event: 42 }, // clear message
        { time: sec("16:30"), event: 43 }, // nebulas && clusters visible
        { time: sec("16:40"), event: 44 }, // "We are now ten lightyears away from Earth"

      ];

      function getEventCounter(currentTime) {
        let count = 0;
        for (let i = 0; i < eventTimeline.length; i++) {
          if (currentTime >= eventTimeline[i].time) {
            count = eventTimeline[i].event;
          } else {
            break;
          }
        }
        //console.log("Time: ", timestring(currentTime), " eventCounter: ", count );
        return count;
      }

      const onMessage = (data) => {
        //console.log('!!!', data.TT_time)
        if (data.TT_time) {
          r.time = data.TT_time;
        }
        if (data.frequency) {
          r.globalFrequency = data.frequency;
        }


        // test
        // if (r.time>=sec("12:00")) { // if after planets, set the counter by time, not by +1
        //   r.eventCounter = getEventCounter(r.time);
        // }


        if (r.time >= 0 && r.eventCounter < 1) {
          r.planets.earth.visible = true;
          animation({
            targets: r.planets.earth,
            opacity: 1,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });

          r.eventCounter = 1;
          r.a = 360;
          r.a2 = 1;
         // r.eventCounter++;
        } else if (r.time >= sec("01:00") && r.eventCounter < 2) {
          r.planets.venus.visible = true;
          animation({
            targets: r.planets.venus,
            opacity: 1,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("02:00") && r.eventCounter < 3) {
          r.planets.mercury.visible = true;
          animation({
            targets: r.planets.mercury,
            opacity: 1,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("02:30") && r.eventCounter < 4) {
          animation({
            targets: r,
            globalScale: 5,
            //globalRotation: 60,
            duration: r.getDuration("00:30"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("03:00") && r.eventCounter < 5) {
          r.planets.mars.visible = true;
          animation({
            targets: r.planets.mars,
            opacity: 1,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("03:30") && r.eventCounter < 6) {
          animation({
            targets: r,
            globalScale: 6,
            //globalRotation: 40,
            duration: r.getDuration("00:30"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("04:00") && r.eventCounter < 7) {
          r.planets.jupiter.visible = true;
          animation({
            targets: r.planets.jupiter,
            opacity: 1,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("04:30") && r.eventCounter < 8) {
          animation({
            targets: r,
            globalScale: 7,
            // globalRotation: 20,
            duration: r.getDuration("00:30"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("05:00") && r.eventCounter < 9) {
          r.planets.saturn.visible = true;
          animation({
            targets: r.planets.saturn,
            opacity: 1,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("05:30") && r.eventCounter < 10) {
          animation({
            targets: r,
            globalScale: 10,
            // globalRotation: 0,
            duration: r.getDuration("00:30"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("06:00") && r.eventCounter < 11) {
          r.planets.mercury_m2.visible = true;
          r.planets.venus_v2.visible = true;
          r.planets.jupiter_j12.visible = true;
          r.planets.saturn_s12.visible = true;
          animation({
            targets: [
              r.planets.mercury_m2,
              r.planets.venus_v2,
              r.planets.jupiter_j12,
              r.planets.saturn_s12,
            ],
            opacity: 1,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          animation({
            targets: r,
            globalScale: 15,
            // globalRotation: 0,
            duration: r.getDuration("00:10"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("07:00") && r.eventCounter < 8) {
          r.planets.mercury_m4.visible = true;
          r.planets.jupiter_j14.visible = true;
          r.planets.saturn_s14.visible = true;
          animation({
            targets: [
              r.planets.mercury_m4,
              r.planets.venus_v2,
              r.planets.jupiter_j14,
              r.planets.saturn_s14,
            ],
            opacity: 1,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          animation({
            targets: r,
            globalScale: 7,
            globalRotation: 5,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("08:00") && r.eventCounter < 12) {
          // 8:00
          r.planets.mercury_m8.visible = true;
          r.planets.saturn_s18.visible = true;
          animation({
            targets: [r.planets.mercury_m8, r.planets.saturn_s18],
            opacity: 1,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          animation({
            targets: r,
            globalRotation: 10,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("09:00") && r.eventCounter < 13) {
          animation({
            targets: [
              r.planets.saturn,
              r.planets.jupiter,
              r.planets.venus,
              r.planets.mercury,
            ],
            opacity: 0,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          animation({
            targets: r,
            globalRotation: 15,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("10:00") && r.eventCounter < 14) {
          animation({
            targets: [
              r.planets.venus_v2,
              r.planets.saturn_s12,
              r.planets.jupiter_j12,
              r.planets.venus_v2,
            ],
            opacity: 0,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          animation({
            targets: [r.planets.venus_v4],
            opacity: 0,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });

          r.planets.venus_v4.visible = true;
          animation({
            targets: r,
            globalRotation: 20,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("10:30") && r.eventCounter < 15) {
          // Hide the planets we faded your previously

          r.planets.saturn.visible = false;
          r.planets.jupiter.visible = false;
          r.planets.venus.visible = false;
          r.planets.mercury.visible = false;

          r.planets.venus_v2.visible = false;
          r.planets.saturn_s12.visible = false;
          r.planets.jupiter_j12.visible = false;
          r.planets.venus_v2.visible = false;

          r.planets.venus_v8.visible = true;
          animation({
            targets: [r.planets.venus_v8],
            opacity: 1,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          animation({
            targets: [r.planets.venus_v4],
            opacity: 0,
            duration: r.getDuration("00:05"),
            easing: "easeInQuad",
          });
          animation({
            targets: r,
            globalScale: 10,
            globalRotation: 15,
            duration: r.getDuration("00:10"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("11:00") && r.eventCounter < 16) {
          animation({
            targets: r.come,
            opacity: 0.5,
            duration: r.getDuration("01:00"),
            easing: "easeInOutSine",
          });

          animation({
            targets: r.come.rotation,
            x: -360,
            duration: r.getDuration("01:00"),
            easing: "linear",
            loop: true,
          });
          // TODO: keskpunkt jälle endisse kohta tagasi
          animation({
            targets: r,
            globalScale: 4,
            globalRotation: 90,
            duration: r.getDuration("00:30"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("11:30") && r.eventCounter < 17) {
          animation({
            targets: Object.keys(r.planets).map((key) => r.planets[key]),
            opacity: 0,
            duration: r.getDuration("00:10"),
            easing: "easeInOutSine",
          });

          r.come.visible = true;
          r.eventCounter++;
          // Placeholder events for cometonics
        } else if (r.time >= sec("11:40") && r.eventCounter < 18) {
          cometonics.visible = false;
          r.eventCounter++;
        } else if (r.time >= sec("11:50") && r.eventCounter < 19) {
          r.eventCounter++;
        } else if (r.time >= sec("12:00") && r.eventCounter < 20) {
          // Messiermusics 0:00
          r.eventCounter++;
        } else if (r.time >= sec("12:10") && r.eventCounter < 21) {
          r.eventCounter++;
        } else if (r.time >= sec("12:20") && r.eventCounter < 22) {
          r.eventCounter++;
        } else if (r.time >= sec("12:30") && r.eventCounter < 23) {
          Object.keys(r.planets).forEach(
            (key) => (r.planets[key].visible = false)
          );
          animation({
            targets: r,
            globalScale: 2,
            globalRotation: 90,
            duration: r.getDuration("01:00"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        // Remove unneccesary steps?
        } else if (r.time >= sec("12:40") && r.eventCounter < 24) {
          r.eventCounter++;
        } else if (r.time >= sec("12:50") && r.eventCounter < 25) {
          r.eventCounter++;
        } else if (r.time >= sec("13:00") && r.eventCounter < 26) {
          r.eventCounter++;
        } else if (r.time >= sec("13:10") && r.eventCounter < 27) {
          r.eventCounter++;
        } else if (r.time >= sec("13:20") && r.eventCounter < 28) {
          r.eventCounter++;
        } else if (r.time >= sec("13:30") && r.eventCounter < 29) {
          r.eventCounter++;
        } else if (r.time >= sec("13:40") && r.eventCounter < 30) {
          r.eventCounter++;
        } else if (r.time >= sec("13:50") && r.eventCounter < 31) {
          r.eventCounter++;
        } else if (r.time >= sec("14:00") && r.eventCounter < 33) {
          r.eventCounter++;
        } else if (r.time >= sec("14:10") && r.eventCounter < 34) {
          r.eventCounter++;
        } else if (r.time >= sec("14:20") && r.eventCounter < 35) {
          r.eventCounter++;
        } else if (r.time >= sec("14:30") && r.eventCounter < 36) {
          r.eventCounter++;
        } else if (r.time >= sec("14:40") && r.eventCounter < 37) {
          r.eventCounter++;
        } else if (r.time >= sec("14:50") && r.eventCounter < 38) {
          r.eventCounter++;
        } else if (r.time >= sec("15:00") && r.eventCounter < 39) {
          r.eventCounter++;
        } else if (r.time >= sec("15:10") && r.eventCounter < 40) {
          r.eventCounter++;
        } else if (r.time >= sec("15:20") && r.eventCounter < 41) {
          animation({
            targets: r.come,
            opacity: 0,
            duration: r.getDuration("00:10"),
            easing: "easeInOutSine",
          });
          r.eventCounter++;
        } else if (r.time >= sec("15:30") && r.eventCounter < 42) {
          r.distanceMessage = "We are now one lightyear away from Earth";
          console.log(r.distanceMessage)
          // Enable clusters and nebulas
          r.messier.clusters.visible = true;
          // Fade in clusters
          animation({
            targets: r.messier.clusters,
            opacity: 1,
            duration: r.getDuration("00:10"),
            easing: "linear",
          });
          r.eventCounter++;
        } else if (r.time >= sec("15:40") && r.eventCounter < 43) {
          r.distanceMessage = ""
          // Clusters are still playing...
          // Cometronics sphere is gone
          //r.cometronicsSphere.visible = false;
          r.eventCounter++;
        } else if (r.time >= sec("16:30") && r.eventCounter < 44) {
          // Enable nebulas
          r.messier.nebulas.visible = true;
          // Fade in nebulas
          animation({
            targets: r.messier.nebulas,
            opacity: 1,
            duration: r.getDuration("00:10"),
            easing: "linear",
          });
          // Fade out clusters
          animation({
            targets: r.messier.clusters,
            opacity: 0,
            duration: r.getDuration("00:10"),
            easing: "linear",
          });
          r.eventCounter++;
          //
        } else if (r.time >= sec("16:40") && r.eventCounter < 45) {
          r.distanceMessage = "We are now ten lightyears away from Earth";
          // Nebulas are still playing...
          // Clusters done fading, hide
          r.messier.clusters.visible = false;
          r.eventCounter++;
        } else if (r.time >= sec("16:50") && r.eventCounter < 46) { 
          r.distanceMessage = ""
          r.eventCounter++;
        } else if (r.time >= sec("17:50") && r.eventCounter < 47) {
          r.distanceMessage = "We are now 100 lightyears away from Earth";
          // Enable clusters2
          setSky("#clusters2");
          showSky(r.getDuration("00:10"));

          // Fade out nebulas
          animation({
            targets: r.messier.nebulas,
            opacity: 0,
            duration: r.getDuration("00:10"),
            easing: "linear",
          });
          r.eventCounter++;
        } else if (r.time >= sec("18:00") && r.eventCounter < 48) {
          r.distanceMessage = ""
          // clusters2 are still playing...
          // nebulas done fading, hide
          r.messier.nebulas.visible = false;
          animation({
            targets: r,
            globalScale: 5.5,
            duration: r.getDuration("00:20"),
            easing: "easeInQuad",
          });
          r.eventCounter++;
        } else if (r.time >= sec("18:30") && r.eventCounter < 49) {
          animation({
            targets: r,
            globalScale: 4,
            duration: r.getDuration("00:20"),
            easing: "easeInQuad",
          });  
          r.eventCounter++;
        } else if (r.time >= sec("19:05") && r.eventCounter < 50) {
          r.distanceMessage = "We are now 1000 lightyears away from Earth";
          r.eventCounter++;
        } else if (r.time >= sec("19:15") && r.eventCounter < 51) {
          r.distanceMessage = ""
          hideSky(r.getDuration("00:30")); // fade out clusters2-sky

          r.eventCounter++;
        } else if (r.time >= sec("20:20") && r.eventCounter < 52) {
          r.distanceMessage = "We are now 100 000 lightyears away from Earth";
          r.eventCounter++;
        } else if (r.time >= sec("20:40") && r.eventCounter < 53) {
          r.distanceMessage = ""
          r.eventCounter++;
        } else if (r.time >= sec("21:00") && r.eventCounter < 54) {
          // Enable galaxies
          setSky("#galaxy2");
          showSky(r.getDuration("00:10") );
          r.eventCounter++;
        } else if (r.time >= sec("21:10") && r.eventCounter < 55) {
          // galaxies are still playing...
          r.eventCounter++;
        } else if (r.time >= sec("21:30") && r.eventCounter < 56) {
          r.distanceMessage = "We are now million lightyears away from Earth";
          // Fade out galaxies
          hideSky(r.getDuration("00:30"));
          r.eventCounter++;
        } else if (r.time >= sec("22:40") && r.eventCounter < 57) {
          r.distanceMessage =
            "We are now 10 million lightyears away from Earth";
          // Enable another sky
          setSky("#nebula4");
          showSky(r.getDuration("00:10") );

          r.eventCounter++;
        } else if (r.time >= sec("23:40") && r.eventCounter < 58) {
          // Fade out sky
          hideSky(r.getDuration("00:20"));
          // Enable superclusters
          r.messier.superclusters.visible = true;
          // Fade in superclusters
          animation({
            targets: r.messier.superclusters,
            opacity: 1,
            duration: r.getDuration("00:10"),
            easing: "linear",
          });
          r.eventCounter++;
        } else if (r.time >= sec("23:50") && r.eventCounter < 59) {
          r.distanceMessage =
            "We are now 100 million lightyears away from Earth";
          // superclusters are still playing...
          r.eventCounter++;
        } else if (r.time >= sec("24:00") && r.eventCounter < 60) {
          r.distanceMessage = "";
          r.eventCounter++;
        } else if (r.time >= sec("24:50") && r.eventCounter < 61) {
          r.galactic.radiogalaxies.visible = true;
          // Fade in radiogalaxies
          animation({
            targets: r.galactic.radiogalaxies,
            opacity: 1,
            duration: r.getDuration("00:10"),
            easing: "linear",
          });
          // Fade out superclusters
          animation({
            targets: r.messier.superclusters,
            opacity: 0,
            duration: r.getDuration("00:10"),
            easing: "linear",
          });
          r.eventCounter++;
        } else if (r.time >= sec("25:00") && r.eventCounter < 62) {
          // radiogalaxies are still playing...
          // superclusters done fading, hide
          r.messier.superclusters.visible = false;
          r.eventCounter++;
        } else if (r.time >= sec("25:05") && r.eventCounter < 63) {
          r.distanceMessage = "We are now billion lightyears away from Earth";
          r.eventCounter++;
        } else if (r.time >= sec("25:15") && r.eventCounter < 64) {
          r.distanceMessage = "";
          r.eventCounter++;
        } else if (r.time >= sec("25:30") && r.eventCounter < 65) {
          r.eventCounter++;
        } else if (r.time >= sec("25:50") && r.eventCounter < 66) {
          r.galactic.quasars.visible = true;
          // Fade in quasars
          animation({
            targets: r.galactic.quasars,
            opacity: 1,
            duration: r.getDuration("00:10"),
            easing: "linear",
          });
          // Fade out radiogalaxies
          animation({
            targets: r.messier.radiogalaxies,
            opacity: 0,
            duration: r.getDuration("00:10"),
            easing: "linear",
          });

          animation({
            targets: r,
            globalScale: 0,
            duration: r.getDuration("02:00"),
            easing: "linear",
          });

          r.eventCounter++;
        } else if (r.time >= sec("26:00") && r.eventCounter < 67) {
          // quasars  are still playing...
          // radiogalaxies done fading, hide
          r.galactic.radiogalaxies.visible = false;
          r.eventCounter++;
        } else if (r.time >= sec("26:20") && r.eventCounter < 68) {
          r.distanceMessage =
            "We are now 10 billion lightyears away from Earth";
            r.eventCounter++;
        } else if (r.time >= sec("26:45") && r.eventCounter < 69) {
          r.distanceMessage = "";
          r.bigbang.visible = true;
          Object.keys(r.planets).forEach((key) => {
            r.planets[key].visible = true;
            r.planets[key].opacity = 1;
          });
          Object.keys(r.messier).forEach((key) => {
            r.messier[key].visible = true;
            animation({
              targets: r.messier[key],
              opacity: 1,
              duration: r.getDuration("00:10"),
              easing: "linear",
            });
          });
          Object.keys(r.galactic).forEach((key) => {
            r.galactic[key].visible = true;
            r.galactic[key].opacity = 1;
          });
          // TODO: Bring all in
          Object.keys(r.planets).forEach((key) => {
            r.planets[key].visible = true;
          });
          Object.keys(r.messier).forEach((key) => {
            r.messier[key].visible = true;
          });
          Object.keys(r.galactic).forEach((key) => {
            r.galactic[key].visible = true;
          });
          Object.keys(r.planets).forEach((key) => {
            r.planets[key].visible = true;
            animation({
              targets: r.planets[key],
              opacity: 1,
              duration: r.getDuration("00:10"),
              easing: "linear",
            });
          });
          r.eventCounter++;
          // TODO: 27:00 Consider scale down global scale
        } else if (r.time >= sec("27:30") && r.eventCounter < 70) {
          Object.keys(r.planets).forEach((key) => {
            r.planets[key].visible = false;
          });
          Object.keys(r.messier).forEach((key) => {
            r.messier[key].visible = false;
          });
          Object.keys(r.galactic).forEach((key) => {
            r.galactic[key].visible = true;
          });
          r.eventCounter++;
        } else if (r.time >= sec("27:40") && r.eventCounter < 71) {
          r.distanceMessage =
            "We are now at the limit of the universe. There is NOTHING on the other side, no TIME, no SPACE";
          r.bigbang.visible = false;
          r.eventCounter++;
        } else if (r.time >= sec("28:00") && r.eventCounter < 72) {
          r.distanceMessage = "You may close your phone now.";
        }
      };

      doConnect(onMessage);

      const onInput = (e) => onMessage({ TT_time: parseInt(e.target.value) });

      const onReset = () => {
        r.time = 0;
        r.eventCounter = 0;
        r.part2.visible = false;
      };

      createApp({
        r,
        onInput,
        onReset,
        normalizeParticles,
      }).mount();

      document.addEventListener("DOMContentLoaded", function () {
        var scene = document.querySelector("a-scene");
        scene.addEventListener("loaded", function (e) {
          console.log("loaded");
        });
      });
    </script>
  </head>

  <body style="margin: 0; overflow: hidden">
    <!-- Scene -->

    <a-scene
      vr-mode-ui="enabled: false"
      embedded
      arjs="sourceType: webcam; debugUIEnabled: false;"
    >

      <!-- Assets -->

      <a-assets>
        <a-asset-item
                autoload
                id="cometronics"
                src="assets/cometonics.glb"
        ></a-asset-item>

        <a-asset-item
                autoload
                id="mercury"
                src="assets/mercury.glb"
        ></a-asset-item>
        <a-asset-item
                autoload
                id="jupiter"
                src="assets/jupiter.glb"
        ></a-asset-item>


        <a-asset-item autoload id="earth" src="assets/earth.glb"></a-asset-item>
        <a-asset-item autoload id="mars" src="assets/mars.glb"></a-asset-item>
        <a-asset-item autoload id="venus" src="assets/venus.glb"></a-asset-item>

        <a-asset-item
                autoload
                id="saturn"
                src="assets/saturn.glb"
        ></a-asset-item>

        <a-asset-item
                autoload
                id="clusters"
                src="assets/clusters.glb"
        ></a-asset-item>
<!--        <a-asset-item-->
<!--                autoload-->
<!--                id="clusters2"-->
<!--                src="assets/space_nebula.glb"-->
<!--        ></a-asset-item>-->
        <a-asset-item
                autoload
                id="nebulas"
                src="assets/nebulas.glb"
        ></a-asset-item>
<!--        <a-asset-item-->
<!--                autoload-->
<!--                id="galaxies"-->
<!--                src="assets/galaxies.glb"-->
<!--        ></a-asset-item>-->
        <a-asset-item
                autoload
                id="superclusters"
                src="assets/superclusters.glb"
        ></a-asset-item>
        <a-asset-item
                autoload
                id="radiogalaxies"
                src="assets/radiogalaxies.glb"
        ></a-asset-item>
        <a-asset-item
                autoload
                id="quasars"
                src="assets/quasars.glb"
        ></a-asset-item>

        <img id="blob" src="assets/blob.png" />

        <img  id="galaxy2" src="assets/perseus_galaxy_cluster.jpg">
        <img id="clusters2" src="assets/nebula2.png">
        <img id="nebula4" src="assets/nebula_x.jpeg">

      </a-assets>

      <a-sky
              id="sky"
              opacity="0"
              visible="false"
              src="#nebula4"
              rotation="0 0 0"
              animation="property: rotation; to: 0 360 -90; loop: true; dur: 1000000; easing: linear"
      >
      </a-sky>

<!--      <a-text id="deleteMe" position="0 2.5 -10" value="Ees keskel" align="center"></a-text>-->


      <!-- Planets -->
<!--          orig:-->
<!--      <a-entity-->
<!--              :position="{ x: 0, y: 0, z: -25 * (1 - r.userZMultipler)}"-->
<!--              :scale="{x: r.globalScale, y: r.globalScale, z: r.globalScale}"-->
<!--              :rotation="{x: r.globalRotation, y: 0, z: 0}"-->
<!--      >-->

      <a-entity
        :position="{ x: 0, y: 0, z: -25 * (1 - r.userZMultipler) }"
        :scale="{x: r.globalScale, y: r.globalScale, z: r.globalScale}"
        :rotation="{x: r.globalRotation, y: 0, z: 0}"
      >
        <a-entity :scale="{x: 0.01, y: 0.01, z: 0.01}">
          <a-entity
            v-for="p,key in r.planets"
            :position="p.outside.position"
            :scale="p.outside.scale"
            :animation="p.outside.animation"
            :visible="p.visible"
          >
            <a-entity
              :random-lines="{radius: p.inside.position.z, opacity: 0.1, degrees: 360 * 5, randomness: 2}"
              rotation="0 0 0"
            ></a-entity>
            <a-entity
              :random-lines="{radius: p.inside.position.z, opacity: 0.1, degrees: 360 * 2, randomness: 2.5}"
              rotation="0 0 0"
            ></a-entity>
            <a-entity
              :gltf-model="p.inside.model"
              :position="p.inside.position"
              :rotation="p.inside.rotation"
              :scale="p.inside.scale"
              :animation="p.inside.animation"
              :model-opacity="{opacity: p.opacity}"
            ></a-entity>
          </a-entity>
        </a-entity>

        <!-- Cometonics -->
  
        <a-entity
          :position="r.come.outerPosition"
          :rotation="r.come.outerRotation"
        >
          <a-entity
            :animation-mixer="{timeScale: r.getPlaybackRate()}"
            :scale="r.come.scale"
            :position="r.come.position"
            :rotation="r.come.rotation"
          >
            <a-entity
              gltf-model="#cometronics"
              :model-opacity="{opacity: r.come.opacity}"
            /></a-entity>
                </a-entity>
        </a-entity>

        <a-entity
          :position="r.come.outerPosition"
          :rotation="r.come.outerRotation"
        >
          <a-entity
            :animation-mixer="{timeScale: r.getPlaybackRate()}"
            :scale="r.come.scale"
            :position="r.come.position"
            :rotation="r.come.rotation"
          >
          <a-entity
            gltf-model="#cometronics"
            :model-opacity="{opacity: r.come.opacity}"
          /></a-entity>

          </a-entity>
        </a-entity>

        <a-entity v-for="m,key,i in r.messier" :visible="m.visible">
          <a-entity
            :animation-mixer="{timeScale: r.getPlaybackRate()}"
            :gltf-model="'#' + key"
            :scale="{x: m.scale,y: m.scale,z: m.scale }"
            :model-opacity="{opacity: m.opacity}"
          ></a-entity>
        </a-entity>

        <!-- Galactic -->

        <a-entity v-for="g,key,i in r.galactic" :visible="g.visible">
          <a-entity
            :animation-mixer="{timeScale: r.getPlaybackRate()}"
            :gltf-model="'#' + key"
            :scale="{x: g.scale,y: g.scale,z: g.scale }"
            :model-opacity="{opacity: g.opacity}"
          ></a-entity>
        </a-entity>
      </a-entity>

      <a-entity
        light="type: directional; color: #FFF; intensity: 5"
        position="0 0 5"
      ></a-entity>

      <a-camera></a-camera>




<!--            <a-sphere-->
<!--                    id="sky_sphere"-->
<!--                    opacity="0.8"-->
<!--                    src="#nebula3"-->
<!--                    rotation="0 0 0"-->
<!--                    animation="property: scale; to: 1 1 1; dur: 20000; easing: easeInOutQuad"-->
<!--                    radius="5"-->
<!--                    side="back"-->
<!--                    scale="0.1 0.1 0.1"-->
<!--                    position="0 0 0"-->
<!--            ></a-sphere>-->
    </a-scene>

    <!-- Overlays -->

    <div
      class="dev-overlay"
      style="position: fixed; top: 16px; left: 16px; z-index: 10000"
    >
      <input
        type="range"
        v-model.number="r.time"
        @input="onInput"
        :max="sec('27:30')"
        style="width: 300px"
      />
      <p style="height: 32px">
        <button v-show="r.time == sec('27:30')" @click="onReset">
          Back to start
        </button>
      </p>
      <div>Time: {{ timestring(r.time) }} / {{ r.time }}
      <div>Event counter: {{ r.eventCounter }}</div>
      <div>Distance message: {{ r.distanceMessage || 'EMPTY' }}</div>
      <p />
      <div v-for="p,key in r.planets" :style="{opacity: p.visible ? 1 : 0.4}">
        {{ key }}
      </div>
      <div :style="{opacity: r.cometonics.visible ? 1 : 0.4}">cometonics</div>
      <div v-for="m,key in r.messier" :style="{opacity: m.visible ? 1 : 0.4}">
        messiermusics {{ key }}
      </div>
      <div v-for="g,key in r.galactic" :style="{opacity: g.visible ? 1 : 0.4}">
        galacticquasaric {{ key }}
      </div>
      <div :style="{opacity: r.bigbang.visible ? 1 : 0.4}">bigbang</div>
    </div>
  </div>

  <div
      class="dev-overlay"
      style="
        position: fixed;
        top: 16px;
        right: 16px;
        z-index: 10000;
        overflow: auto;
        height: 100%;
      "
    >
      Global rotation: {{ String(r.globalRotation).split('.')[0] }}
      <input
        type="range"
        v-model.number="r.globalRotation"
        max="90"
        step="any"
        style="margin-bottom: 8px; display: block"
      />
      Global scale: {{ String(r.globalScale).split('.')[0] }}
      <input
        type="range"
        v-model.number="r.globalScale"
        max="10"
        min="0.001"
        step="any"
        style="margin-bottom: 8px; display: block"
      />
      Playback speed (ms) <input v-model.number="r.globalFrequency" />\
      <pre>{{ r.come }}</pre>
    </div>
  </div>
    <!-- Screen overlay -->
    <div
      :style="{opacity: r.eventCounter >= 70 ? 1 : 0}"
      style="
        transition: all 10s;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        pointer-events: none;
        opacity: 0;
      ">
    </div>

    <!-- User overlay -->

    <div
      style="
        position: fixed;
        right: 16px;
        bottom: 16px;
        left: 16px;
        z-index: 200000;
      "
    >
    <p style="transition: all 3s; opacity: 0" :style="{opacity: r.distanceMessage ? 1 : 0}">{{ r.distanceMessage }}</p>

      <p>{{ timestring(r.time) }} <span id="status"></span></p>
      <input
        type="range"
        v-model.number="r.userZMultipler"
        min="-1"
        max="1"
        step="any"
        style="width: 100%; display: none"
      />
    </div>
    <!-- <div class="overlay"></div> -->
  </body>

  <style>
    body {
      color: white;
      font-family: sans-serif;
    }
    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      pointer-events: none;
      background: rgba(0, 0, 0, 0.8);
    }
    .a-loader-title {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      justify-content: center !important;
      align-items: center !important;
      z-index: 10000;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 40vh 20vw;
      line-height: 1.3em;
    }
    @media only screen and (max-width: 1024px) {
      .dev-overlay {
        display: none;
      }
    }
    @media only screen and (min-width: 1024px) {
      .dev-overlay {
        display: block;
      }
    }
    input[type="text"] {
      display: block;
      width: 50px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      border-radius: 3px;
      margin-bottom: 1px;
      padding: 4px;
    }
    input[type="range"] {
      display: block;
      -webkit-appearance: none;
      background-color: rgba(255, 255, 255, 0.7);
      height: 1px;
      position: relative;
      outline: none;
      width: 100%;
      margin: 16px 0;
    }
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: rgba(255, 255, 255, 0.7);
      height: 24px;
      width: 24px;
      border-radius: 1000px;
      background: white;
      cursor: pointer;
    }
    
  </style>
</html>
