<!DOCTYPE html>
<html>
  <head>
    <title>Timetrip to Big Bang and Back</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://unpkg.com/es-module-shims@1.5.17/dist/es-module-shims.js"></script>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>
    <script src="https://unpkg.com/aframe-extras@6.1.1/dist/aframe-extras.min.js"></script>
    <script src="https://unpkg.com/aframe-sprite-particles-component@^0.5.4/aframe-sprite-particles-component.js"></script>
    <script src="https://unpkg.com/reconnecting-websocket@4.4.0/dist/reconnecting-websocket-iife.min.js"></script>
    <script src="./utils.js"></script>
    <script src="./lib/websocket.js"></script>
    <script type="module">
      import { createApp, reactive } from "https://unpkg.com/petite-vue?module";
      import { generatePlanet } from "./lib/planets.js";

      const animation = AFRAME.ANIME;
      const speed = 100; // Edit to 1000 for normal speed

      const planets = {
        mercury: generatePlanet("mercury"),
        venus: generatePlanet("venus"),
        earth: generatePlanet("earth"),
        mars: generatePlanet("mars"),
        jupiter: generatePlanet("jupiter"),
        saturn: generatePlanet("saturn"),

        mercury_m2: generatePlanet("mercury", 2),
        venus_v2: generatePlanet("venus", 2),
        jupiter_j12: generatePlanet("jupiter", 1 / 2),
        saturn_s12: generatePlanet("saturn", 1 / 2),

        mercury_m4: generatePlanet("mercury", 4),
        jupiter_j14: generatePlanet("jupiter", 1 / 4),
        saturn_s14: generatePlanet("saturn", 1 / 4),

        mercury_m8: generatePlanet("mercury", 8),
        saturn_s18: generatePlanet("saturn", 1 / 8),

        venus_v4: generatePlanet("venus", 4),
        venus_v8: generatePlanet("venus", 8),
      };

      const cometonics = { visible: false, scale: 0.001 };

      const messier = {
        clusters: { visible: false, scale: 0.01 },
        nebulas: { visible: false, scale: 0.001 },
        galaxies: { visible: false, scale: 0.001 },
        superclusters: { visible: false, scale: 0.001 },
      };

      const galactic = {
        radiogalaxies: { visible: false, scale: 0.001 },
        quasars: { visible: false, scale: 0.001 },
      };

      const bigbang = {
        visible: false,
        scale: 0.001,
      };

      function getOrbitsParticles(radialPosition) {
        const p = normalizeParticles({
          radialPosition,
          opacity: this.orbitsOpacity,
          color: "#fff",
          radialType: "circle",
          spawnRate: 100,
          lifeTime: 100,
          radialVelocity: [0, this.orbitsRadialVelocity],
          angularVelocity: [this.orbitsAngularVelocity, 0, 0],
          scale: 0.5,
          // trailLifeTime: 2,
          // trailInterval: 0.1,
          texture: "#blob",
        });
        return p;
      }

      const r = reactive({
        time: 0,
        eventCounter: 0,

        planets,
        cometonics,
        messier,
        galactic,
        bigbang,

        globalRotation: 90,
        globalScale: 1,
        userZMultipler: 0,

        orbitsOpacity: 0,
        orbitsOffsetY: 0,
        orbitsRadialVelocity: 0,
        orbitsAngularVelocity: 0,
        getOrbitsParticles,
      });

      const onMessage = (data) => {
        r.time = data.TT_time;
        if (r.time >= 0 && r.eventCounter < 1) {
          animation({
            targets: r,
            orbitsOpacity: 1,
            duration: sec("1:00") * speed,
            easing: "linear",
          });
          r.planets.earth.visible = true;
          r.eventCounter = 1;
          r.a = 360;
          r.a2 = 1;
        } else if (r.time >= 60 && r.eventCounter < 2) {
          r.planets.venus.visible = true;
          r.eventCounter = 2;
        } else if (r.time >= 120 && r.eventCounter < 3) {
          r.planets.mercury.visible = true;
          r.eventCounter = 3;
        } else if (r.time >= 180 && r.eventCounter < 4) {
          r.planets.mars.visible = true;
          r.eventCounter = 4;
        } else if (r.time >= 240 && r.eventCounter < 5) {
          r.planets.jupiter.visible = true;
          r.eventCounter = 5;
        } else if (r.time >= 300 && r.eventCounter < 6) {
          r.planets.saturn.visible = true;
          r.eventCounter = 6;
        } else if (r.time >= 360 && r.eventCounter < 7) {
          // 6:00
          animation({
            targets: r,
            globalScale: 2,
            globalRotation: 0,
            duration: sec("2:00") * speed,
            easing: "easeInOutSine",
          });
          r.planets.mercury_m2.visible = true;
          r.planets.venus_v2.visible = true;
          r.planets.jupiter_j12.visible = true;
          r.planets.saturn_s12.visible = true;
          r.eventCounter = 7;
        } else if (r.time >= 420 && r.eventCounter < 8) {
          // 7:00
          r.planets.mercury_m4.visible = true;
          r.planets.jupiter_j14.visible = true;
          r.planets.saturn_s14.visible = true;
          r.eventCounter = 8;
        } else if (r.time >= 480 && r.eventCounter < 9) {
          // 8:00
          r.planets.mercury_m8.visible = true;
          r.planets.saturn_s18.visible = true;
          r.eventCounter = 9;
        } else if (r.time >= 540 && r.eventCounter < 10) {
          // 9:00
          r.planets.saturn.visible = false;
          r.planets.jupiter.visible = false;
          r.planets.venus.visible = false;
          r.planets.mercury.visible = false;
          r.eventCounter = 10;
        } else if (r.time >= 600 && r.eventCounter < 11) {
          // 10:00
          r.planets.venus_v2.visible = false;
          r.planets.saturn_s12.visible = false;
          r.planets.jupiter_j12.visible = false;
          r.planets.venus_v2.visible = false;
          r.planets.venus_v4.visible = true;
          r.eventCounter = 11;
        } else if (r.time >= 630 && r.eventCounter < 12) {
          // 10:30
          r.planets.venus_v4.visible = false;
          r.planets.venus_v8.visible = true;
          r.eventCounter = 12;
        } else if (r.time >= sec("11:00") && r.eventCounter < 13) {
          // 11:00
          animation({
            targets: r,
            globalScale: 1,
            duration: sec("0:30") * speed,
            easing: "easeInOutSine",
          });
          r.planets.saturn_s14.visible = false;
          r.eventCounter = 13;
        } else if (r.time >= sec("11:30") && r.eventCounter < 14) {
          animation({
            targets: r,
            orbitsOffsetY: 10,
            orbitsAngularVelocity: -1,
            orbitsRadialVelocity: 0.01,
            duration: sec("1:00") * speed,
            easing: "linear",
          });
          r.cometonics.visible = true;
          r.eventCounter = 14;
        } else if (r.time >= sec("12:00") && r.eventCounter < 15) {
          // Messiermusics 0:00
          Object.keys(r.planets).forEach(
            (key) => (r.planets[key].visible = false)
          );
          r.eventCounter = 15;
        } else if (r.time >= sec("15:30") && r.eventCounter < 16) {
          // 3:30
          animation({
            targets: r,
            orbitsOpacity: 0,
            duration: sec("1:00") * speed,
            easing: "linear",
          });
          r.cometonics.visible = false;
          r.eventCounter = 16;
        } else if (r.time >= sec("15:40") && r.eventCounter < 17) {
          // 3:40
          r.messier.clusters.visible = true;
          r.eventCounter = 17;
        } else if (r.time >= sec("16:40") && r.eventCounter < 18) {
          // 4:40
          r.messier.clusters.visible = false;
          r.messier.nebulas.visible = true;
          r.eventCounter = 18;
        } else if (r.time >= sec("18:00") && r.eventCounter < 19) {
          // 6:00
          r.messier.nebulas.visible = false;
          r.messier.clusters.visible = true;
          r.eventCounter = 19;
        } else if (r.time >= sec("21:10") && r.eventCounter < 20) {
          // 9:10
          r.messier.clusters.visible = false;
          r.messier.galaxies.visible = true;
          r.eventCounter = 20;
        } else if (r.time >= sec("23:50") && r.eventCounter < 21) {
          // 11:50
          r.messier.galaxies.visible = false;
          r.messier.superclusters.visible = true;
          r.eventCounter = 21;
        } else if (r.time >= sec("25:00") && r.eventCounter < 22) {
          // 13:00
          r.messier.superclusters.visible = false;
          r.galactic.radiogalaxies.visible = true;
          r.eventCounter = 22;
        } else if (r.time >= sec("25:30") && r.eventCounter < 23) {
          // 13:30
          animation({
            targets: r,
            orbitsOpacity: 1,
            duration: sec("1:00") * speed,
            easing: "linear",
          });
          animation({
            targets: r,
            globalScale: 0,
            duration: sec("2:00") * speed,
            easing: "linear",
          });
          r.bigbang.visible = true;
          r.eventCounter = 23;
        } else if (r.time >= sec("26:00") && r.eventCounter < 24) {
          // 14:00
          r.galactic.radiogalaxies.visible = false;
          r.galactic.quasars.visible = true;
          r.eventCounter = 24;
        } else if (r.time >= sec("26:45") && r.eventCounter < 25) {
          // 14:45
          r.galactic.quasars.visible = false;
          r.eventCounter = 25;
        } else if (r.time >= sec("27:30") && r.eventCounter < 26) {
          // 15:30
          r.bigbang.visible = false;
          r.eventCounter = 26;
        }
      };

      doConnect(onMessage);

      const onInput = (e) => onMessage({ TT_time: parseInt(e.target.value) });
      const onReset = () => {
        r.time = 0;
        r.eventCounter = 0;
        r.part2.visible = false;
      };

      const exampleParticles = {
        lifeTime: "5..100",
        spawnRate: "200",
        radialType: "sphere",
        radialPosition: "0.5",
        radialVelocity: ".1",
        scale: ".5",
        opacity: ".5",
      };

      createApp({
        r,
        onInput,
        onReset,
        exampleParticles,
        normalizeParticles,
      }).mount();
    </script>
  </head>

  <body style="margin: 0; overflow: hidden">
    <div
      class="dev-overlay"
      style="position: fixed; top: 16px; left: 16px; z-index: 10000"
    >
      <input
        type="range"
        v-model.number="r.time"
        @input="onInput"
        :max="sec('27:30')"
        style="width: 300px"
      />
      <p style="height: 32px">
        <button v-show="r.time == sec('27:30')" @click="onReset">
          Back to start
        </button>
      </p>
      <div>{{ secondsToTimeString(r.time) }} / {{ r.eventCounter }}</div>
      <p />
      <div v-for="p,key in r.planets" :style="{opacity: p.visible ? 1 : 0.4}">
        {{ key }}
      </div>
      <div :style="{opacity: r.cometonics.visible ? 1 : 0.4}">cometonics</div>
      <div v-for="m,key in r.messier" :style="{opacity: m.visible ? 1 : 0.4}">
        messiermusics {{ key }}
      </div>
      <div v-for="g,key in r.galactic" :style="{opacity: g.visible ? 1 : 0.4}">
        galacticquasaric {{ key }}
      </div>
      <div :style="{opacity: r.bigbang.visible ? 1 : 0.4}">bigbang</div>
    </div>

    <div
      class="dev-overlay"
      style="position: fixed; top: 16px; right: 16px; z-index: 10000"
    >
      Global rotation: {{ String(r.globalRotation).split('.')[0] }}
      <input
        type="range"
        v-model.number="r.globalRotation"
        max="90"
        step="any"
        style="margin-bottom: 8px; display: block"
      />
      Global scale: {{ String(r.globalScale).split('.')[0] }}
      <input
        type="range"
        v-model.number="r.globalScale"
        max="10"
        min="0.001"
        step="any"
        style="margin-bottom: 8px; display: block"
      />
    </div>

    <div
      class="user-overlay"
      style="
        position: fixed;
        right: 16px;
        bottom: 16px;
        left: 16px;
        z-index: 20000;
      "
    >
      <input
        type="range"
        v-model.number="r.userZMultipler"
        min="-0.8"
        max="0.8"
        step="any"
        style="width: 100%; display: block"
      />
    </div>

    <a-scene
      vr-mode-ui="enabled: false"
      embedded
      arjs="sourceType: webcam; debugUIEnabled: false;"
    >
      <a-assets>
        <a-asset-item
          autoload
          id="mercury"
          src="assets/mercury.glb"
        ></a-asset-item>
        <a-asset-item
          autoload
          id="jupiter"
          src="assets/jupiter.glb"
        ></a-asset-item>
        <a-asset-item autoload id="earth" src="assets/earth.glb"></a-asset-item>
        <a-asset-item autoload id="mars" src="assets/mars.glb"></a-asset-item>
        <a-asset-item autoload id="venus" src="assets/venus.glb"></a-asset-item>
        <a-asset-item
          autoload
          id="saturn"
          src="assets/saturn.glb"
        ></a-asset-item>

        <a-asset-item
          autoload
          id="cometronics"
          src="assets/cometronics.glb"
        ></a-asset-item>

        <a-asset-item
          autoload
          id="clusters"
          src="assets/clusters.glb"
        ></a-asset-item>
        <a-asset-item
          autoload
          id="nebulas"
          src="assets/nebulas.glb"
        ></a-asset-item>
        <a-asset-item
          autoload
          id="galaxies"
          src="assets/galaxies.glb"
        ></a-asset-item>
        <a-asset-item
          autoload
          id="superclusters"
          src="assets/superclusters.glb"
        ></a-asset-item>
        <a-asset-item
          autoload
          id="radiogalaxies"
          src="assets/radiogalaxies.glb"
        ></a-asset-item>
        <a-asset-item
          autoload
          id="quasars"
          src="assets/quasars.glb"
        ></a-asset-item>
        <a-asset-item
          autoload
          id="bigbang"
          src="assets/bigbang.glb"
        ></a-asset-item>
        <img id="blob" src="assets/blob.png" />
      </a-assets>

      <a-entity
        :position="{ x: 0, y: 0, z: -20 * (1 - r.userZMultipler)}"
        :scale="{x: r.globalScale, y: r.globalScale, z: r.globalScale}"
        :rotation="{x: r.globalRotation, y: 0, z: 0}"
      >
        <a-entity :scale="{x: 0.01, y: 0.01, z: 0.01}" :opacity="0">
          <a-entity
            v-for="p,key,i in r.planets"
            :position="{ x: 0, y: 0 + (i * r.orbitsOffsetY), z: 0 }"
            :scale="p.outside.scale"
            :animation="p.outside.animation"
          >
            <a-entity
              rotation="90 0 0"
              :sprite-particles_="{ opacity: String(r.orbitsOpacity), radialType: 'circleXY', spawnRate: 100, lifeTime: String(500), radialPosition: String(p.inside.position.z), scale: '0.5'}"
              :sprite-particles="r.getOrbitsParticles(p.inside.position.z)"
            ></a-entity>
          </a-entity>

          <a-entity
            v-for="p,key in r.planets"
            :position="p.outside.position"
            :scale="p.outside.scale"
            :animation="p.outside.animation"
            :visible="p.visible"
          >
            <a-entity
              :gltf-model="p.inside.model"
              :position="p.inside.position"
              :rotation="p.inside.rotation"
              :scale="p.inside.scale"
              :animation="p.inside.animation"
            ></a-entity>
          </a-entity>
        </a-entity>

        <a-entity :visible="r.cometonics.visible">
          <!-- <a-entity :sprite-particles="exampleParticles"></a-entity> -->
          <a-entity
            animation-mixer
            gltf-model="#cometonics"
            :scale="{x: r.cometonics.scale,y: r.cometonics.scale,z: r.cometonics.scale }"
            :model-opacity="{opacity: 0.5}"
            :animation_="{property: 'rotation', dur: 110000, to: {x: 0, y: 0, z: 360}, loop: true, easing: 'linear'}"
          ></a-entity>
          <a-text value="cometonics" align="center"></a-text>
        </a-entity>

        <a-entity v-for="m,key,i in r.messier" :visible="m.visible">
          <!-- <a-entity :sprite-particles="exampleParticles"></a-entity> -->
          <a-entity
            animation-mixer
            :gltf-model="'#' + key"
            :scale="{x: m.scale,y: m.scale,z: m.scale }"
            :model-opacity="{opacity: 0.5}"
            :animation_="{property: 'rotation', dur: 100000, to: {x: 0, y: 0, z: 360}, loop: true, easing: 'linear'}"
          ></a-entity>
          <a-text :value="key" align="center"></a-text>
        </a-entity>

        <a-entity v-for="g,key,i in r.galactic" :visible="g.visible">
          <!-- <a-entity :sprite-particles="exampleParticles"></a-entity> -->
          <a-entity
            animation-mixer
            :gltf-model="'#' + key"
            :scale="{x: g.scale,y: g.scale,z: g.scale }"
            :model-opacity="{opacity: 0.5}"
            :animation_="{property: 'rotation', dur: 100100, to: {x: 0, y: 0, z: 360}, loop: true, easing: 'linear'}"
          ></a-entity>
          <a-text :value="key" align="center"></a-text>
        </a-entity>

        <a-entity :visible="r.bigbang.visible">
          <!-- <a-entity :sprite-particles="exampleParticles"></a-entity> -->
          <a-entity
            animation-mixer
            gltf-model="#bigbang"
            :scale="{x: r.bigbang.scale,y: r.bigbang.scale,z: r.bigbang.scale }"
            :model-opacity="{opacity: 0.5}"
            :animation_="{property: 'rotation', dur: 101000, to: {x: 0, y: 0, z: 360}, loop: true, easing: 'linear'}"
          ></a-entity>
          <a-text value="bigbang" align="center"></a-text>
        </a-entity>
      </a-entity>

      <a-entity
        light="type: directional; color: #FFF; intensity: 5"
        position="0 0 5"
      ></a-entity>

      <a-camera></a-camera>
    </a-scene>
  </body>
  <style>
    body {
      font-family: sans-serif;
      color: white;
    }
    @media only screen and (max-width: 600px) {
      .dev-overlay {
        display: none;
      }
      .user-overlay {
        display: block;
      }
    }
    @media only screen and (min-width: 600px) {
      .dev-overlay {
        display: block;
      }
      .user-overlay {
        display: none;
      }
    }
    input[type="text"] {
      display: block;
      width: 50px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      border-radius: 3px;
      margin-bottom: 1px;
      padding: 4px;
    }
    input[type="range"] {
      display: block;
      -webkit-appearance: none;
      background-color: rgba(255, 255, 255, 0.7);
      height: 1px;
      position: relative;
      outline: none;
      width: 100%;
      margin: 16px 0;
    }
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: rgba(255, 255, 255, 0.7);
      height: 24px;
      width: 24px;
      border-radius: 1000px;
      background: white;
      cursor: pointer;
    }
  </style>
</html>
