<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>AR.js demo Stars</title>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>
    <script src="https://unpkg.com/aframe-sprite-particles-component@^0.5.4/aframe-sprite-particles-component.js"></script>
    <script src="./lib/utils.js"></script>

    <script type="module">
      import { createApp, reactive } from "https://unpkg.com/petite-vue?module";

      const fields = {
        spawnRate: { min: 0, max: 1000, step: 1 },
        lifeTime: { min: 0, max: 1000, step: 1 },
        radialPosition: { min: -100, max: 100, step: 0.01 },
        radialVelocity: { min: -100, max: 100, step: 0.01 },
        angularVelocity: { min: -100, max: 100, step: 0.01 },
        scale: { min: 0, max: 100, step: "any" },
        trailLifeTime: { min: 0, max: 10, step: 0.001 },
        trailInterval: { min: 0.05, max: 1, step: 0.01 },
        destinationWeight: { min: 0, max: 1, step: 0.01 },
        destinationOffset: { min: -10, max: 10, step: 0.01 },
      };

      const data = reactive({
        color: "#00f..#fff,#fff,#fff",
        radialType: "sphere",
        spawnRate: 100,
        lifeTime: 1000,
        radialPosition: { a: 1, b: 2 },
        radialVelocity: { a: 0, b: 1 },
        angularVelocity: { a: 0, b: 0, c: 0 },
        scale: 1,
        texture: "#blob",
        trailLifeTime: 2,
        trailInterval: 0.1,
      });

      const data2 = reactive({
        color: "#fff",
        opacity: {a: 0.5, b: 1},
        radialType: "circleXZ",
        spawnRate: 500,
        lifeTime: 1000,
        radialPosition: { a: 3, b: 5 },
        radialVelocity: { a: 0, b: 2 },
        angularVelocity: { a: 0, b: -10, c: 0 },
        scale: 0.8,
        texture: "#blob",
        offset: 0
      });

      const box = reactive({
        position: { x: 0, y: 0, z: 0 },
        rotation: { x: 0, y: 0, z: 0 },
        innerPosition: { x: 0, y: 0, z: 0 },
      });

      const animation = AFRAME.ANIME;

      const dur = 300000;

      animation({
        targets: box.position,
        x: 0,
        y: [-2, 2],
        z: 0,
        duration: dur * 2,
        easing: "easeInOutSine",
        direction: "alternate",
        loop: true,
      });

      animation({
        targets: box.rotation,
        x: 0,
        y: -360,
        z: 0,
        duration: dur,
        easing: "linear",
        loop: true,
      });

      // animation({
      //   targets: box.innerPosition,
      //   x: 2,
      //   y: 0,
      //   z: 0,
      //   duration: dur,
      //   easing: "easeInOutSine",
      //   direction: "alternate",
      //   loop: true,
      // });

      animation({
        targets: data.radialVelocity,
        a: 0,
        b: 0,
        duration: dur,
        easing: "easeInOutSine",
        direction: "alternate",
        loop: true,
      });

      animation({
        targets: data,
        trailLifeTime: 0.3,
        duration: dur * 2,
        easing: "easeOutSine",
        direction: "alternate",
        loop: true,
      });

      // animation({
      //   targets: data2,
      //   offset: -5,
      //   duration: dur * 10,
      //   easing: "easeOutSine",
      // });

      createApp({
        fields,
        data,
        data2,
        normalizeParticles,
        isNumber,
        angle: 80,
        box,
        speed: 2,
      }).mount();
    </script>
  </head>
  <body style="margin: 0; overflow: hidden">
    <a-scene
      id="scene"
      vr-mode-ui="enabled: false"
      embedded
      arjs="sourceType: webcam; debugUIEnabled: false;"
    >
      <a-entity position="0 0 -20" rotation="0 0 0">
        <a-entity :sprite-particles="normalizeParticles({...data2, radialPosition: { a: 3, b: 20 }, radialVelocity: { a: 0, b: 2 * speed },angularVelocity: { a: 0, b: 0, c: 0.1 * speed }})"></a-entity>

        <a-entity :rotation="box.rotation"
          v-for="y in [1,1.2,2,4,4.3]"
          :position="{x: 0, y: 0, z: 0}"
          :sprite-particles="normalizeParticles({...data2, radialPosition: { a: y - data2.offset, b: y + data2.offset}, radialVelocity: { a: 0, b: -10 * speed, c: 10 * speed },angularVelocity: { a: 10 * speed, b: -10 * speed, c: 0 }})"
        ></a-entity>

        <!-- <a-entity
          position="0 0.5 0"
          :sprite-particles="normalizeParticles({...data2, opacity: 0.5, radialPosition: { a: 1, b: 5 }})"
        ></a-entity> -->

        <a-entity :position="box.position" :rotation="box.rotation">
          <a-entity :position="box.innerPosition">
            <!-- <a-entity :sprite-particles="normalizeParticles(data)"></a-entity> -->
          </a-entity>
        </a-entity>
      </a-entity>
      <!-- 
      <a-entity
        :rotation="{x: -angle, y: 0, z: 0}"
        position="0 0 -40"
        :sprite-particles="normalizeParticles(data)"
      ></a-entity> -->

      <a-camera></a-camera>

      <a-assets>
        <img id="blob" src="assets/blob.png" />
      </a-assets>
    </a-scene>

    <!-- <div style="position: fixed; top: 16px; left: 16px">
      <p>Rotation: {{ angle }}deg</p>
      <input
        type="range"
        v-model.number="angle"
        max="90"
        style="margin-bottom: 8px"
      />
      <div v-for="field, key in data2" style="padding-bottom: 8px">
        {{ key }}
        <div v-if="field.a !== undefined">
          <div
            v-for="col,i in field"
            style="display: flex; align-items: center; gap: 8px"
          >
            <input type="text" v-model="data[key][i]" />
            <input
              v-if="isNumber(data[key][i])"
              type="range"
              v-model="data[key][i]"
              :min="fields[key].min"
              :max="fields[key].max"
              :step="fields[key].step"
            />
          </div>
        </div>
        <div v-else>
          <input
            type="text"
            v-model="data[key]"
            style="width: 100%; margin-bottom: 8px"
          />
          <input
            v-if="isNumber(data[key])"
            type="range"
            v-model="data[key]"
            :min="fields[key].min"
            :max="fields[key].max"
            :step="fields[key].step"
          />
        </div>
      </div>
      <!-- <pre>{{ normalizeData(data) }}</pre> -->
    </div> -->

    <div style="position: fixed; top: 16px; right: 16px">
      <!-- <pre style="opacity: 0.7">{{ data }}</pre> -->
    </div>
  </body>
  <style>
    body {
      font-family: sans-serif;
      font-size: 14px;
      color: white;
    }
    input[type="text"] {
      display: block;
      width: 50px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      border-radius: 3px;
      margin-bottom: 1px;
      padding: 4px;
    }
    input[type="range"] {
      display: block;
      -webkit-appearance: none;
      background-color: rgba(255, 255, 255, 0.7);
      height: 1px;
      position: relative;
      outline: none;
      width: 100%;
    }
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid gray;
      height: 16px;
      width: 16px;
      border-radius: 1000px;
      background: white;
      cursor: pointer;
    }
  </style>
</html>
